# Ignore folders named 'test' or 'data'
**/test/
**/data/
**/augmented_data/

# Ignore checkpoints
**/__pycache__/
**/*.py[cod]
*.ipynb_checkpoints/

# Ignore irrelevant notebook files
*.ipynb_checkpoints/
*.ipynb~ 
*.ipynb.bak

# Ignore VSCode files and directories
.vscode/
*.code-workspace

# Python-specific ignores
*.pyc
*.pyo
*.pyd
*.env/
*.venv/
ENV/
env/
venv/
*.egg-info/
dist/
build/
*.log
.DS_Store
*.swp
*.swo
